*{
    margin: 0;
    padding: 0;
}

body{
   box-sizing: border-box;

}
header
{
 height: 60px;
 width: 100%;
 background: gray;
 color: white;
 font-family: sans-serif;
 position: absolute;
 display: flex;

}
.menu-campany
{
    border: 1px solid black;
    height: 30px;
    width: 18%;
    margin-top: 10px;
    position: relative;
    padding-left: 10px 10px;
    margin-left: 10px;
    display: flex;
}
.box-log-menu
{
    height: 30px;
    width: 40px;
    border: 1px solid rgb(140, 138, 138);
    text-align: center;
    align-items: center;
    justify-content: center;
  
}
.detail-log
{
  height: 30px;
  width: 30px;
  background: black;
  border-radius: 50%;
  margin-left: 10px;
}
.detail-dashboard
{
    height: 30px;
    width: 40px;   
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
  
}
.detail-dashboard h4
{
  color: black;
  margin-top: 5px;
 
}
.search-box
{
    border: 1px solid black;
    height: 30px;
    width: 15%;
    margin-top: 10px;
    position: relative;
    padding-left: 10px 10px;
    margin-left: 10px;
    display: flex; 
    cursor: pointer;
}
.search-box .sear,p
{
    margin-left: 10px;
    justify-content: center;
    text-align: center;
    margin-top: 5px;
}
.menu-select
{
    border: 1px solid black;
    height: 30px;
    width: 5%;
    margin-top: 10px;
    position: relative;
    padding-left: 10px 10px;
    margin-left: 10px;
    display: flex; 
}
.menu-select .sub-menu-select,
             .sub-menu-select1
{
    border: 1px solid black;
    height: 30px;
    width: 50%;
    position: relative;
    justify-content: center;
    text-align: center;
       
}
.menu-select .sub-menu-select1 .icon-select
{
  text-align: center;
  margin-top: 5px;
 

}
.line-vertical
{
    width: 1px;
    height: 30px;
    background: black;
    margin-top: 10px;
    position: relative;
    padding-left: 10px 10px;
    margin-left: 10px;
}
.box-add-create
{
    border: 1px solid black;
    height: 30px;
    width: 5%;
    margin-top: 10px;
    position: relative;
    padding-left: 10px 10px;
    margin-left: 10px;
    display: flex;  
    justify-content: center;
    text-align: center;
    align-items: center;
    cursor: pointer;
}
.box-add-create .icon-create 
{
   padding: 10px;
}
.setting-container
{
    border: 1px solid black;
    height: 30px;
    width: 28%;
    margin-top: 10px;
    position: relative;
    padding-left: 10px 10px;
    margin-left: 20%;
    display: flex;
}
/* about the box of task done */
.task-operation
{ position: relative;
  top: 70px;
  width: 25%;
  height: 500px;
  border: 1px solid green;
  padding-left: 10px 10px;
  padding: 10 10px;
  margin-left: 10px;
  justify-content: center;
  text-align: center;
  align-items: center;

}
.task-operation-header
{
    padding: 5px 5px;
    height: 50px;
    width: 90%;
    text-align: center;
    margin-left: 10px;
    margin-top: 10px;
    display: flex;
}
.task-operation-header p 
{
    font-size: 25px;
}
.task-operation-header .add-task
{
    width: 50%;
    margin-left: 50px;
    height: 30px;
    margin-top: 6px;
}
.task-operation .search-task 
{
    padding: 5px 5px;
    height: 30px;
    width: 90%;
    text-align: center;
    margin-left: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.task-operation .search-task input 
{
    height: 30px;
    width: 100%;
    outline: none;
    font-size: 20px;
    color: black;
}
.task-operation .search-task input::placeholder
{
    text-align: center;
    justify-content: center;
    align-items: center;
    font-style: italic;
}
