.menu 
{
  color: gray;
  width: 500px;
  height: 100px;
  box-shadow: 0px 6px 10px rgba(0,0,0,0.5);
  position: relative;
  left: 300px;
  top: -120px;
  padding-top: 40px;
  

}
body{
  box-sizing: border-box;
}
nav 
{
  
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  
}
ul li 
{
  display: inline;
  padding: 10px 20px;
  margin: 10px;
  padding-left: 20px;
  border-radius: 10px;
 
  margin-top: 100px;
  height: 20px;
  width: 200px;
 
}
ul li:hover 
{
   background: darkblue;
   color: white;
   transition: 2s ease-in;
}