.App 
{
  height: 400px;
  width: 50%;
  padding: 20px 20px;
  border: 1px solid black;
 
  padding-top: 20px 20px;
  margin-top: 10px;

}
.menu 
{
  display: flex;
  width: 60%;
  height: 30px;
  border: 1px solid green;
  padding: 10px 10px;
  padding-left: 10px;
  justify-content: center;
  text-align: center;
  align-items: center;

}
.submenu 
{
  margin-left: 10px;
  padding-left: 10px 10px;
  cursor: pointer;
}

.submenu:hover 
{
  text-decoration: underline solid rebeccapurple;
  transition: 2s ease-in;
}
.service-container
{
  height: 400px;
  width: 400px;
  box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
  border-radius: 20px;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  font-style: italic;
  font-family: sans-serif;
  color: black;
  margin: auto;
  padding: 10px 10px;
  
}
body {
  color: black;
}
